# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Stopien II semestr II\SzCzGiE-labs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
